@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=ZCOOL+XiaoWei&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* font-family: "ZCOOL XiaoWei", sans-serif; */
}
P,h1{
    margin: 0;
}
i{
    cursor: pointer;
}
.fluid{
    .my-modal{
        height: 100vh;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.7);
        button{
            width: fit-content;
        }
        i{
            top: 10px;
            left: 10px;
            font-size: 30px;
        }
    }
    header{
        background-color: #F4F1EA;
        padding: 20px 0;
        position: relative;
        nav{
            a{
                text-decoration: none;
                color: #0E1730;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #D30000;
                }
            }
            a.active{
                color: #D30000;
            }
        }
        .services{
            i{
                font-size: 30px;
            }
            i.cart-icon{
                color: #D30000;
                background-color: white;
                padding: 10px;
                border-radius: 50%;
            }
            .divider{
                width: 0.5px;
                height: 40px;
                background-color: #0e173038;
            }
            button{
                border: none;
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
                color: #F4F1EA;
                background-color: #F01543;
                border-radius: 100px;
                padding: 15px 30px;
                font-family: "ZCOOL XiaoWei", sans-serif;
                transition: all 0.5s ease-in-out;
                &:hover{
                    background-color: #0E1730;
                    transform: translateX(4px);
                }
            }
        }
        .side-bar{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1000;
            border-left: 3px solid #D30000;
            transition: all 0.5s ease-in-out;
            transform: translateX(110%);
            .close-icon{
                position: absolute;
                top: 8%;
                left: -17px;
                font-size: 30px;
                color: #F01543;
                background-color: white;
                border-radius: 50%;
                padding: 5px;
            }
            .upper{
                background-color: #F01543;
                height: 20%;
            }
            .lower{
                background-color: #F4F1EA;
                height: 80%;
                img{
                    width: 30%;
                    border-radius: 8px;
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
    .hero{
        background-color: #0E1730;
        height: 120vh;
        overflow: hidden;
        @media screen and (max-width : 676px) {
            height: 100vh;
        }
        .moving-1{
            top: 0;
            left: 0;
            @media screen and (max-width : 992px) {
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        }
        .moving-2{
            top: 0px;
            left: 0;
            @media screen and (max-width : 992px) {
                width: 250px;
                height: 250px;
                object-fit: cover;
            }
        }
        .fixed-1{
            top: 0;
            left: 12%;
        }
        .fixed-2{
            top: 0;
            right: 0;
            width: 300px;
        }
        .moving-3{
            top: 47%;
            left: 28%;
        }
        .moving-4{
            top: 70%;
            left: 15%;
        }
        .fixed-3{
            bottom: 0;
            left: 0;
        }
        .fixed-4{
            bottom: 0;
            right: 20%;
        }
        .moving-5{
            bottom: 0;
            right: 2px;
            z-index: 10;
            @media screen and (max-width : 992px) {
                width: 200px;
                height: 220px;
                object-fit: cover;
            }
        }
        .moving-6{
            z-index: 10;
            bottom: 60px;
            right: 60px;
            @media screen and (max-width : 992px) {
                bottom: 10px;
                right: 10px;
                width: 250px;
                height: 250px;
                object-fit: cover;
            }
        }
        .moving{
            animation: spin 4s linear infinite;
        }
        .content{
            position: relative;
            z-index: 100;
            text-align: center;
            h2{
                font-family: "ZCOOL XiaoWei", sans-serif;
                font-size: 96px;
                line-height: 96px;
                color: #FFFFFF;
                @media screen and (max-width : 676px) {
                    font-size: 45px;
                    line-height: 45px;
                    width: 45%;
                }
            }
            p{
                width: 600px;
                max-width: 50%;
                font-size: 16px;
                line-height: 27px;
                color: #F4F1EA;
            }
            button{
                width: fit-content;
                color: #F4F1EA;
                background-color: #D30000;
                border: none;
                padding: 15px 30px;
                border-radius: 100px;
                font-size: 18px;
                line-height: 27px;
                font-family: "ZCOOL XiaoWei", sans-serif;
                transition: all 0.5s ease-in-out;
                &:hover{
                    color: #0E1730;
                    background-color: white;
                    transform: translateX(4px);
                }
                i{
                    font-size: 25px;
                }
            }
        }
    }
    .catagories{
        background-color: #F3ECDC;
        .cards{
            border-radius: 8px;
            border: 0.5px solid rgba(0, 0, 0, 0.2);
            .scard{
                border-right: 0.5px solid rgba(0, 0, 0, 0.2);
                text-align: center;
                @media screen and (max-width : 676px) {
                    border-right: none;
                    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
                }
                img{
                    width: 180px;
                    max-width: 100%;
                    height: 180px;
                    object-fit: contain;
                }
                h3{
                    font-family: "ZCOOL XiaoWei", sans-serif;
                    font-size: 45px;
                }
            }
        }
        marquee{
            padding-top: 50px;
            img{
                object-fit: cover;
                margin-right: 80px;
            }
        }
    }
    .about-food{
        img.main{
            width: 456px;
            height: 456px;
            object-fit: cover;
            animation: rotator 10s linear infinite;
            @media screen and (max-width: 676px) {
                width: 250px;
                height: 250px;
            }
        }
        .info{
            p{
                font-family: "ZCOOL XiaoWei", sans-serif;
                color: #D30000;
                font-weight: 300;
                font-size: 22px;
            }
            h2{
                font-family: "ZCOOL XiaoWei", sans-serif;
                font-size: 55px;
            }
            .brief{
                font-family: "Open Sans", sans-serif;
                font-size: 18px;
                color: rgba(0, 0, 0, 0.4);
                font-weight: 500;
            }
            button{
                width: fit-content;
                background-color: #D30000;
                color:#F3ECDC;
                border: none;
                padding: 15px 20px;
                font-size: 18px;
                border-radius: 100px;
                font-family: "ZCOOL XiaoWei", sans-serif;
                transition: all 0.5s ease-in-out;
                &:hover{
                    cursor: pointer;
                    background-color: #0E1730;
                    color: white;
                    transform: translateY(5px);
                }
            }
        }
        .data{
            .upper{
                p{
                    font-size: 40px;
                    font-family: "ZCOOL XiaoWei", sans-serif;
                    @media screen and (max-width: 676px) {
                        font-size: 30px;
                    }
                }
            }
            p.light{
                font-weight: 400;
                color: rgba(0, 0, 0, 0.4);
            }
        }
    }
    .offer{
        background-image: url(./Assets/offer-bg.jpg);
        min-height: 120vh;
        .burger-offer{
            img{
                width: 705px;
                height: 478px;
                object-fit: cover;
                @media screen and (max-width : 677px) {
                    width: 280px;
                    height: 190px;
                }
            }
            .info{
                p,h2,button{
                    font-family: "ZCOOL XiaoWei", sans-serif;
                }
                p{
                    font-size: 20px;
                    @media screen and (max-width : 676px) {
                        font-size: 14px;
                    }
                }
                h2{
                    font-size: 50px;
                    @media screen and (max-width : 676px) {
                        font-size: 28px;
                    }
                }
                button{
                    background-color: #00833E;
                    color: white;
                    padding: 15px 20px;
                    border: none;
                    border-radius: 100px;
                    font-weight: 500;
                    font-size: 18px;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background-color: white;
                        color: black;
                        transform: translateX(5px);
                    }
                }
            }
        }
        .cta{
            background: linear-gradient(90deg, rgb(0, 131, 62), rgb(0, 29, 14));
            bottom: -70%;
            @media screen and (max-width : 676px) {
                bottom: -80%;
            }
            @media screen and (min-width : 676px) and (max-width : 992px) {
                bottom: -65%;
            }
            img{
                width: 550px;
                height: 320px;
                object-fit: cover;
                @media screen and (max-width : 676px) {
                    width: 185px;
                    height: 110px;
                }
            }
            .cta-data {
                h2,p,button{
                    font-family: "ZCOOL XiaoWei", sans-serif;
                }
                h2{
                    font-size: 50px;
                    @media screen and (max-width : 676px) {
                        font-size: 30px;
                    }
                }
                p{
                    font-size: 22px;
                    @media screen and (max-width : 676px) {
                        font-size: 16px;
                    }
                }
                button{
                    background-color: #D30000;
                    padding: 15px 20px;
                    border: none;
                    border-radius: 100px;
                    transition: all 0.5s ease-in-out;
                    color: white;
                    font-size: 18px;
                    &:hover{
                        transform: translateX(5px);
                        background-color: #0E1730;
                    }
                }
            }
        }
    }
    .best-selling{
        background-color: #F3ECDC;
        min-height: 140vh;
        text-align: center;
        padding-bottom: 20px !important;
        @media screen and (max-width : 676px) {
            min-height: 390vh;
        }
        @media screen and (min-width : 676px) and (max-width : 992px) {
            min-height: 240vh;
        }
        h2,p{
            font-family: "ZCOOL XiaoWei", sans-serif;
        }

        h2{
            font-size: 50px;
            font-weight: 500;
        }
        p{
            font-family: "Open Sans", sans-serif;
            color: rgba(0, 0, 0, 0.6);
        }
        .items{
            .item{
                transition: all 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.06);
                }
                .identifier{
                    p{
                        font-size: 24px;
                        font-family: "ZCOOL XiaoWei", sans-serif;
                        color: black;
                    }
                    i{
                        color: white;
                        font-size: 28px;
                        background-color: #D30000;
                        padding: 10px;
                        border-radius: 50%;
                    }
                }
                .pricing{
                    p{
                        font-family: "ZCOOL XiaoWei", sans-serif;
                        font-size: 24px;
                        font-weight: 500;
                        color: black;
                    }
                    i{
                        font-size: 28px;
                    }
                }
                .stars{
                    i{
                        font-size: 18px;
                        color: #FFBA08;
                    }
                }
                .more{
                    p{
                        font-size: 20px;
                        font-weight: 400;
                        color: black;
                    }
                    i{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .suggestion{
        background-color: #2D1B19;
        min-height: 100vh;
        .shape{
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 50px;
            left: 0;
            z-index: 1000;
        }
        .upper{
            height: 80vh;
            .pizza{
                background: linear-gradient(to left,#4d0801, #3d2422);
                button{
                    background-color: rgb(254 254 254 / 20%);
                    border-radius: 100px;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background-color: white;
                        color:#0E1730 !important;
                        transform: translateX(5px);
                    }
                    i{
                        font-size: 22px ;
                    }
                }
            }
            .shrimp{
                background: linear-gradient(to left, #3d2422,#4d0801);
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                button{
                    background-color: rgb(254 254 254 / 20%);
                    border-radius: 100px;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background-color: white;
                        color:#0E1730 !important;
                        transform: translateX(5px);
                    }
                    i{
                        font-size: 22px ;
                    }
                }
            }
        }
    }
}
@keyframes spin {
    from {
      transform: rotate(0deg) translate(-3px, -1.7px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(-3px, -1.7px) rotate(-360deg);
    }
  }
  @keyframes rotator {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }